.login-page {
    color: #ffffff;
    text-align: center;
    position: relative;
    width: 250px;
    padding: 10% 0 0;
    margin: 0 auto;
}

.background-gradient {
    background: linear-gradient(to bottom left, #af3c52, #0ea4ac);
}

.p0 {
    padding: 0;
}

.p5percent {
    padding-left: 5%;
    padding-right: 5%;
}

